<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="V2Chat" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="V2Chat" />
    <title>V2Chat</title>
  </head>
  <body>
    <div id="root">
      <div style="height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h1 style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #333; margin: 0">V2Chat</h1>
        <p style="font-family: 'Roboto', sans-serif; font-weight: 400; color: #333; opacity: 0.4">loading...</p>
      </div>
    </div>
  </body>
</html>
